<div id="sidebar">
  <a href="{{site.baseurl}}/" class="cta_to_homepage logo_sidebar"><img src="{{site.baseurl}}/img/logo_startbox.svg"></a>

  <div class="sidebar_wrapper">
    <ul class="tendina_dropdown">
      <li class="root_">
        <a id="getting-started" class="link_" href="#">Getting Started</a>
        <ul class="submenu">
          <li><a class="getting_started" href="../guidelines/getting_started/overview.html" target="iframe">Overview</a></li>
          <li><a class="how_we_design" href="../guidelines/getting_started/how_we_design.html" target="iframe">How We Design</a></li>
          <li><a class="design_principles" href="../guidelines/getting_started/design_principles.html" target="iframe">Design Principles</a></li>
          <li><a class="more" href="#">Personas</a>
            <ul class="third">
              <li><a class="persona_nurse" href="../guidelines/getting_started/persona_nurse.html" target="iframe">Nurse Persona</a></li>
              <li><a class="persona_patient" href="../guidelines/getting_started/persona_patient.html" target="iframe">Patient Persona</a></li>
              <li><a class="persona_surgeon" href="../guidelines/getting_started/persona_surgeon.html" target="iframe">Surgeon Persona</a></li>
            </ul>
          </li>
        </ul>
      </li>
      <li class="root_">
        <a id="brand-guidelines" class="link_" href="#">Brand</a>
        <ul class="submenu">
          <li><a class="brand_guidelines" href="../guidelines/brand/overview.html" target="iframe">Overview</a></li>
          <li><a class="logo" href="../guidelines/brand/logo.html" target="iframe">Logo</a></li>
          <li><a class="colors" href="../guidelines/brand/colors.html" target="iframe">Colors</a></li>
          <li><a class="typography" href="../guidelines/brand/typography.html" target="iframe">Typography</a></li>
          <li><a class="illustrations" href="../guidelines/brand/illustrations.html" target="iframe">Illustrations</a></li>
          <li><a class="photography" href="../guidelines/brand/photography.html" target="iframe">Photography</a></li>
          <li><a class="brand_resources" href="../guidelines/brand/brand_resources.html" target="iframe">Brand Resources</a></li>
        </ul>
      </li>
      <li class="root_">
        <a id="web-components" class="link_" href="#">Web</a>
        <ul class="submenu">
          <li><a class="web_components" href="../guidelines/web_components/overview.html" target="iframe">Overview</a></li>
          <li><a class="more" href="#">CSS</a>
            <ul class="third">
              <li><a class="buttons" href="../guidelines/web_components/buttons.html" target="iframe">Buttons</a></li>
              <li><a class="glyphs" href="../guidelines/web_components/glyphs.html" target="iframe">Glyphs</a></li>
              <li><a class="images" href="../guidelines/web_components/images.html" target="iframe">Images</a></li>
              <li><a class="text" href="../guidelines/web_components/text.html" target="iframe">Text</a></li>
            </ul>
          </li>

          <li><a class="more" href="#">Components</a>
            <ul class="third">
              <li><a class="charts" href="../guidelines/web_components/charts.html" target="iframe">Charts</a></li>
              <li><a class="forms" href="../guidelines/web_components/forms.html" target="iframe">Forms</a></li>
              <li><a class="maps" href="../guidelines/web_components/maps.html" target="iframe">Maps</a></li>
              <li><a class="messaging" href="../guidelines/web_components/messaging.html" target="iframe">Messaging</a></li>
              <li><a class="navigation" href="../guidelines/web_components/navigation.html" target="iframe">Navigation</a></li>
              <li><a class="profile_and_bios" href="../guidelines/web_components/profile_and_bios.html" target="iframe">Profile and Bios</a></li>
              <li><a class="scheduling" href="../guidelines/web_components/scheduling.html" target="iframe">Scheduling</a></li>
              <li><a class="tables" href="../guidelines/web_components/tables.html" target="iframe">Tables</a></li>
            </ul>
          </li>

          <li><a class="pages" href="../guidelines/web_components/pages.html" target="iframe">Pages</a></li>
        </ul>
      </li>
      <li class="root_">
        <a id="ios" class="link_" href="#">iOS</a>
        <ul class="submenu">
          <li><a class="ios_overview" href="../guidelines/ios/overview.html" target="iframe">Overview</a></li>
          <li><a class="more" href="#">Components</a>
            <ul class="third">
              <li><a class="ios-bottom_navigation" href="../guidelines/ios/bottom_navigation.html" target="iframe">Bottom Navigation</a></li>
              <li><a class="ios-buttons" href="../guidelines/ios/buttons.html" target="iframe">Buttons</a></li>
              <li><a class="ios-cards" href="../guidelines/ios/cards.html" target="iframe">Cards</a></li>
              <li><a class="ios-dialogs" href="../guidelines/ios/dialogs.html" target="iframe">Diaglogs</a></li>
              <li><a class="ios-dividers" href="../guidelines/ios/dividers.html" target="iframe">Dividers</a></li>
              <li><a class="ios-expansion_panels" href="../guidelines/ios/expansion_panels.html" target="iframe">Expansion Panels</a></li>
              <li><a class="ios-grid" href="../guidelines/ios/grid.html" target="iframe">Grid</a></li>
              <li><a class="ios-list" href="../guidelines/ios/list.html" target="iframe">List</a></li>
              <li><a class="ios-menus" href="../guidelines/ios/menus.html" target="iframe">Menus</a></li>
              <li><a class="ios-pickers" href="../guidelines/ios/pickers.html" target="iframe">Pickers</a></li>
              <li><a class="ios-progress" href="../guidelines/ios/progress.html" target="iframe">Progress &amp; Activity</a></li>
              <li><a class="ios-selection_controls" href="../guidelines/ios/selection_controls.html" target="iframe">Selection Controls</a></li>
              <li><a class="ios-sliders" href="../guidelines/ios/sliders.html" target="iframe">Sliders</a></li>
              <li><a class="ios-subheaders" href="../guidelines/ios/subheaders.html" target="iframe">Subheaders</a></li>
              <li><a class="ios-tabs" href="../guidelines/ios/tabs.html" target="iframe">Tabs</a></li>
              <li><a class="ios-text_fields" href="../guidelines/ios/text_fields.html" target="iframe">Text Fields</a></li>
              <li><a class="ios-toolbars" href="../guidelines/ios/toolbars.html" target="iframe">Toolbars</a></li>
              <li><a class="ios-tooltips" href="../guidelines/ios/tooltips.html" target="iframe">Tooltips</a></li>
            </ul>
          </li>
          <li><a class="ios-screens" href="../guidelines/ios/screens.html" target="iframe">Screens</a></li>
        </ul>
      </li>
      <li class="root_">
        <a id="android" class="link_" href="#">Android</a>
        <ul class="submenu">
          <li><a class="android_overview" href="../guidelines/android/overview.html" target="iframe">Overview</a></li>
          <li><a class="more" href="#">Components</a>
            <ul class="third">
              <li><a class="android-bottom_navigation" href="../guidelines/android/bottom_navigation.html" target="iframe">Bottom Navigation</a></li>
              <li><a class="android-buttons" href="../guidelines/android/buttons.html" target="iframe">Buttons</a></li>
              <li><a class="android-cards" href="../guidelines/android/cards.html" target="iframe">Cards</a></li>
              <li><a class="android-dialogs" href="../guidelines/android/dialogs.html" target="iframe">Diaglogs</a></li>
              <li><a class="android-dividers" href="../guidelines/android/dividers.html" target="iframe">Dividers</a></li>
              <li><a class="android-expansion_panels" href="../guidelines/android/expansion_panels.html" target="iframe">Expansion Panels</a></li>
              <li><a class="android-grid" href="../guidelines/android/grid.html" target="iframe">Grid</a></li>
              <li><a class="android-list" href="../guidelines/android/list.html" target="iframe">List</a></li>
              <li><a class="android-menus" href="../guidelines/android/menus.html" target="iframe">Menus</a></li>
              <li><a class="android-pickers" href="../guidelines/android/pickers.html" target="iframe">Pickers</a></li>
              <li><a class="android-progress" href="../guidelines/android/progress.html" target="iframe">Progress &amp; Activity</a></li>
              <li><a class="android-selection_controls" href="../guidelines/android/selection_controls.html" target="iframe">Selection Controls</a></li>
              <li><a class="android-sliders" href="../guidelines/android/sliders.html" target="iframe">Sliders</a></li>
              <li><a class="android-subheaders" href="../guidelines/android/subheaders.html" target="iframe">Subheaders</a></li>
              <li><a class="android-tabs" href="../guidelines/android/tabs.html" target="iframe">Tabs</a></li>
              <li><a class="android-text_fields" href="../guidelines/android/text_fields.html" target="iframe">Text Fields</a></li>
              <li><a class="android-toolbars" href="../guidelines/android/toolbars.html" target="iframe">Toolbars</a></li>
              <li><a class="android-tooltips" href="../guidelines/android/tooltips.html" target="iframe">Tooltips</a></li>
            </ul>
          </li>
          <li><a class="android-screens" href="../guidelines/android/screens.html" target="iframe">Screens</a></li>
        </ul>
      </li>
      <li class="root_">
        <a id="icons" class="link_" href="#">Icons</a>
        <ul class="submenu">
          <li><a class="icons_overview" href="../guidelines/icons/overview.html" target="iframe">Overview</a></li>
          <li><a class="icons-action" href="../guidelines/icons/action.html" target="iframe">Action</a></li>
          <li><a class="icons-custom" href="../guidelines/icons/custom.html" target="iframe">Custom</a></li>
          <li><a class="icons-doctype" href="../guidelines/icons/doctype.html" target="iframe">Doctype</a></li>
          <li><a class="icons-standard" href="../guidelines/icons/standard.html" target="iframe">Standard</a></li>
          <li><a class="icons-utility" href="../guidelines/icons/utility.html" target="iframe">Utility</a></li>
        </ul>
      </li>
    </ul>
  </div>
</div>