<div class="iframe_content">
  <h2>Primary Color Palette</h2>
  <div class="clear row pad-top-20 pad-bottom-20">
    <div class="col-1-2 col-1-3-m col-1-4-l pad-top-10 pad-bottom-10">
      <div class="panel-block color_example_block">
        <div class="color_example bg-lavender"></div>
        <div class="pad-10">
          <code>#8F5C96</code>
        </div>
      </div>
    </div>

    <div class="col-1-2 col-1-3-m col-1-4-l pad-top-10 pad-bottom-10">
      <div class="panel-block color_example_block">
        <div class="color_example bg-rose"></div>
        <div class="pad-10">
          <code>#D85D66</code>
        </div>
      </div>
    </div>

  </div>
</div>

<hr class="separator_section">

<div class="iframe_content">
  <h2>Secondary Color Palette</h2>
  <div class="clear pad-top-20 pad-bottom-20">
    <div class="table-responsive col-12 pad-top-40">
      <table class="table color_table_example">
        <tr>
          <td><div class="color_box_sample bg-startbox-teal"></div></td>
          <td>#1C74AD</td>
        </tr>
        <tr>
          <td><div class="color_box_sample bg-startbox-red"></div></td>
          <td>#d0021b</td>
        </tr>
        <tr>
          <td><div class="color_box_sample bg-startbox-green"></div></td>
          <td>#6CAE22</td>
        </tr>
      </table>
    </div>
  </div>
</div>

<hr class="separator_section">

<div class="iframe_content">
  <h2>Shades of gray</h2>
   <div class="clear pad-top-20 pad-bottom-20">
    <div class="table-responsive col-12 pad-top-40">
      <table class="table color_table_example">
        <tr>
          <td><div class="color_box_sample bg-default-black"></div></td>
          <td>#222222</td>
        </tr>
        <tr>
          <td><div class="color_box_sample bg-gray"></div></td>
          <td>#D7D5CD</td>
        </tr>
        <tr>
          <td><div class="color_box_sample bg-platinum"></div></td>
          <td>#999999</td>
        </tr>

        <tr>
          <td><div class="color_box_sample bg-smoke"></div></td>
          <td>#FAFAFA</td>
        </tr>
      </table>
    </div>
  </div>
</div>
