<div class="iframe_content">
  <h2> San Francisco UI </h2>
  <div class="type-sample-wrapper clear row">
    <div class="col-2-l col-12">
      <span class="block San Francisco UI type_lead">
        Aa
      </span>
    </div>

    <div class="col-10-l col-12">
      <p class="fs-2 San Francisco UI spacing-6 lineheight-6">
        <span class="type-sample">ABCDEFGHIJKLMNOPQRSTUVWXYZ</span>
        <span class="type-sample">abcdefghijklmnopqrstuvwxyz</span>
        <span class="type-sample">1234567890(,.;:?!$&amp;*)</span>
      </p>
    </div>
  </div>
</div>



