<div class="grid-example">
      <div class="row clear pad-top-5 pad-bottom-5">
        <div class="col-1">
          <span class="column-content">col-1</span>
        </div>
        <div class="col-11">
          <span class="column-content">col-11</span>
        </div>
      </div>
      <div class="row clear pad-top-5 pad-bottom-5">
        <div class="col-2">
          <span class="column-content">col-2</span>
        </div>
        <div class="col-10">
          <span class="column-content">col-10</span>
        </div>
      </div>
      <div class="row clear pad-top-5 pad-bottom-5">
        <div class="col-3">
          <span class="column-content">col-3</span>
        </div>
        <div class="col-9">
          <span class="column-content">col-9</span>
        </div>
      </div>
      <div class="row clear pad-top-5 pad-bottom-5">
        <div class="col-4">
          <span class="column-content">col-4</span>
        </div>
        <div class="col-8">
          <span class="column-content">col-8</span>
        </div>
      </div>
      <div class="row clear pad-top-5 pad-bottom-5">
        <div class="col-5">
          <span class="column-content">col-5</span>
        </div>
        <div class="col-7">
          <span class="column-content">col-7</span>
        </div>
      </div>
      <div class="row clear pad-top-5 pad-bottom-5">
        <div class="col-6">
          <span class="column-content">col-6</span>
        </div>
        <div class="col-6">
          <span class="column-content">col-6</span>
        </div>
      </div>
      <div class="row clear pad-top-5 pad-bottom-5">
        <div class="col-12">
          <span class="column-content">col-12</span>
        </div>
      </div>
    </div>
    
    <pre class="prettyprint lang-html">
&lt;div class="row clear pad-top-5 pad-bottom-5"&gt;
  &lt;div class="col-1"&gt;col-1&lt;/div&gt;
  &lt;div class="col-11"&gt;col-11&lt;/div&gt;
&lt;/div&gt;
&lt;div class="row clear pad-top-5 pad-bottom-5"&gt;
  &lt;div class="col-2"&gt;col-2&lt;/div&gt;
  &lt;div class="col-10"&gt;col-10&lt;/div&gt;
&lt;/div&gt;
&lt;div class="row clear pad-top-5 pad-bottom-5"&gt;
  &lt;div class="col-3"&gt;col-3&lt;/div&gt;
  &lt;div class="col-9"&gt;col-9&lt;/div&gt;
&lt;/div&gt;
&lt;div class="row clear pad-top-5 pad-bottom-5"&gt;
  &lt;div class="col-4"&gt;col-4&lt;/div&gt;
  &lt;div class="col-8"&gt;col-8&lt;/div&gt;
&lt;/div&gt;
&lt;div class="row clear pad-top-5 pad-bottom-5"&gt;
  &lt;div class="col-5"&gt;col-5&lt;/div&gt;
  &lt;div class="col-7"&gt;col-7&lt;/div&gt;
&lt;/div&gt;
&lt;div class="row clear pad-top-5 pad-bottom-5"&gt;
  &lt;div class="col-6"&gt;col-6&lt;/div&gt;
  &lt;div class="col-6"&gt;col-6&lt;/div&gt;
&lt;/div&gt;
&lt;div class="row clear pad-top-5 pad-bottom-5"&gt;
  &lt;div class="col-12"&gt;col-12&lt;/div&gt;
&lt;/div&gt;    
    </pre>